.home-container {
  background: #e5e5e5;
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  justify-content: space-between;
}

.common-container {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

.slides {
  list-style-type: none;
  padding-left: 0px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.book-description {
  color: #475569;
  margin-bottom: 30px;
}

.top-rated-books-container {
  background-color: #ffffff;
  width: 90vw;
  padding-left: 35px;
  border-radius: 4px;
  padding-right: 35px;
  height: 362px;
  padding-top: 9px;
  margin-bottom: 70px;
}

.find-your-books {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
}

.find-books {
  background: #0284c7;
  border-radius: 4px;
  width: 104px;
  height: 36px;
  cursor: pointer;
  border-width: 0px;
  outline: none;
  color: #ffffff;
  margin-right: 20px;
}

.top-rated-heading {
  color: #1e293b;
  font-family: 'Roboto';
  margin-left: 20px;
  font-size: 20px;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: -20px;
}

.home-failure-view-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 47vh;
}

.home-error-image {
  width: 300px;
  height: 200px;
}

.home-failure-heading {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-try-again {
  width: 112px;
  height: 48px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 12px;
  outline: none;
  text-align: center;
  background-color: #0284c7;
  color: #ffffff;
}

.home-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.home-find-books-link {
  display: none;
}

.home-slides-to-show {
  display: none;
}

.min-slides-to-show {
  display: none;
}

.home-footer-home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  width: 90vw;
  margin: 0px;
  padding-top: 10px;
  height: 100px;
  border: 1px solid #e5e5e5;
  align-self: flex-end;
}

a {
  color: #3d3c3c;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.contact-us {
  color: #3d3c3c;
  font-family: 'HK Grotesk';
  font-style: 'SemiBold';
  font-weight: 600;
}

.icons {
  height: 16px;
  width: 18px;
}

@media screen and (max-width: 500px) {
  .nav-link {
    text-decoration: none;
    color: #ffffff;
  }

  .slides-to-show {
    display: none;
  }

  .home-slides-to-show {
    display: block;
  }

  .home-container {
    background: #e5e5e5;
    width: 100vw;
    min-height: 80vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
  }

  .top-rated-books-container {
    background-color: #ffffff;
    width: 99vw;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 0px;
    height: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 26px;
  }

  .top-container {
    justify-content: flex-start;
  }

  .top-rated-heading {
    margin-top: 9px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .find-your-books {
    font-size: 20px;
    margin: 15px;
  }

  .find-books {
    display: none;
  }

  .home-find-books {
    background: #0284c7;
    border-radius: 4px;
    width: 104px;
    height: 36px;
    cursor: pointer;
    border-width: 0px;
    outline: none;
    color: #ffffff;
    margin: 15px;
    text-decoration: none;
  }

  .home-find-books-link {
    display: block;
  }

  .book-description {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .min-slides-to-show {
    display: none;
  }

  .home-failure-heading {
    font-size: 16px;
  }

  .home-try-again {
    margin-bottom: 10px;
  }

  .home-footer-home-section {
    width: 100vw;
  }

  .home-failure-view-container {
    height: 26vh;
    margin: 0px;
  }

  .home-error-image {
    width: 220px;
    height: 84px;
  }

  .home-failure-heading {
    font-size: 12px;
  }

  .home-try-again {
    width: 100px;
    font-size: 12px;
    border-radius: 5px;
  }

  .home-loader-container {
    height: 120px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
  .home-slides-to-show {
    display: none;
  }
  .slides-to-show {
    display: none;
  }
  .min-slides-to-show {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .top-rated-books-container {
    height: 427px;
  }

  .home-failure-view-container {
    height: 35vh;
  }
}
