.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  width: 100vw;
  height: 80px;
  background: #ffffff;
  border: 1px solid #e4e7eb;
  margin: 0px;
  list-style-type: none;
}

.header-container-mobile {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #64748b;
}

.list-item-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  align-items: center;
}

.header-links-container {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  margin-top: 18px;
  justify-content: space-evenly;
}

.book-hub-logo {
  margin-top: 25px;
  width: 140px;
  height: 40px;
  cursor: pointer;
  outline: none;
  margin-left: 30px;
}

.menu-button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}

.button-container {
  margin-top: -8px;
}

.header-button {
  margin-right: 15px;
  background-color: transparent;
  border-width: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #64748b;
  text-decoration: none;
}

.logout-button {
  background: #0284c7;
  border-radius: 4px;
  height: 32px;
  width: 70px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  color: #f8fafc;
}

.active {
  color: #0284c7;
}

.ham-berger {
  display: none;
}

.header-links-container-elements {
  display: none;
}

@media screen and (max-width: 500px) {
  .header-container-mobile {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: #ffffff;
    border: 1px solid #e4e7eb;
    margin: 0px;
    padding: 10px;
  }

  .header-container {
    display: none;
  }

  .header-links-container {
    display: none;
  }

  .ham-berger {
    display: block;
  }

  .book-hub-logo {
    width: 100px;
    height: 30px;
    margin: 0px;
    padding: 0px;
  }

  .header-buttons {
    margin-right: 15px;
    background-color: transparent;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #64748b;
    text-decoration: none;
  }

  .logout-button {
    background: #0284c7;
    border-radius: 4px;
    height: 32px;
    width: 70px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #f8fafc;
    margin-top: 2px;
  }

  .header-links-container-elements {
    background-color: #e5e5e5;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    list-style-type: none;
    margin: 0px;
    padding-top: 7px;
    padding-right: 10px;
    list-style-type: none;
    padding-bottom: 7px;
  }

  .close-button {
    background-color: transparent;
    cursor: pointer;
    border-width: 0px;
    cursor: pointer;
  }

  .close {
    width: 17px;
    height: 17px;
  }

  .nav-link {
    text-decoration: none;
    color: #64748b;
  }
}
