.footer-home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  width: 100vw;
  margin: 0px;
  padding-top: 10px;
  height: 100px;
  border: 1px solid #e5e5e5;
}

a {
  color: #3d3c3c;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.contact-us {
  color: #3d3c3c;
  font-family: 'HK Grotesk';
  font-style: 'SemiBold';
  font-weight: 600;
}

.icons {
  height: 16px;
  width: 18px;
}
