.common-container {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  width: 100vw;
}

.book-shelves-container {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  background: #e5e5e5;
  width: 100vw;
  min-height: 80vh;
  padding-bottom: 0px;
  display: flex;
  border-width: 0px;
  margin: 0px;
}

.book-shelves-list-container {
  padding-left: 25px;
  padding-top: 10px;
}

.bookshelves-list-heading {
  color: #334155;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  min-height: 120vh;
  padding-left: 20px;
  padding-top: 15px;
  box-sizing: border-box;
  padding-right: 20px;
  list-style-type: none;
}

.bookshelves-search {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  align-items: center;
}

.user-search-input-container {
  width: 280px;
  height: 30px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  background-color: #edeff1;
}

.user-search-input {
  width: 235px;
  height: 29px;
  border-width: 0px;
  padding-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
}

.search-icon {
  margin-left: 10px;
  color: #94a3b8;
  width: 16px;
  height: 18px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0px;
}

.bookshelves-result-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 65vw;
}

.error-image {
  width: 500px;
  height: 250px;
  align-self: center;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #475569;
  margin-top: 20px;
  margin-bottom: 20px;
}

.try-again {
  width: 112px;
  height: 48px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 12px;
  outline: none;
  text-align: center;
  background-color: #0284c7;
  color: #ffffff;
}

.search-input {
  color: #334155;
  font-family: 'Roboto';
}

.search-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 75vh;
}

.bookshelves-heading {
  display: none;
}

.bookshelves-user-search-input-container {
  display: none;
}

.bookshelves-user-search-input {
  display: none;
}

.bookshelves-options-container {
  display: none;
}

@media screen and (max-width: 550px) {
  .book-shelves-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .book-shelves-list-container {
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .bookshelves-user-search-input-container {
    display: block;
    margin-top: 10px;
    border: 1px solid #cbd5e1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 280px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #edeff1;
  }

  .bookshelves-user-search-input {
    display: block;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 235px;
    height: 29px;
    border-width: 0px;
    padding-left: 10px;
    outline: none;
  }

  .bookshelves-heading {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #334155;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
  }

  .bookshelves-search {
    display: none;
  }

  .bookshelves-options-container {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
  }

  .sidebar-container {
    display: none;
  }

  .bookshelves-result-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .error-image {
    width: 250px;
    height: 200px;
  }

  .failure-heading {
    font-size: 16px;
  }

  .failure-view-container {
    width: 100vw;
  }

  .search-failure-view-container {
    width: 100vw;
  }

  .search-image {
      width: 70vw;
  }
}
